COMPOSE_PROJECT_NAME=weddingmap
POSTGRES_DB=weddingmap
POSTGRES_USER=weddingmap
POSTGRES_PASSWORD=weddingmap
POSTGRES_PORT=5432
REDIS_PORT=6379
API_PORT=8000
WEB_PORT=3000
ADMIN_PORT=3001
ADMIN_AUTH_ENABLED=true
PUBLIC_KAKAO_MAP_KEY=sample-kakao-map-key
DATA_PORTAL_API_KEY=sample-data-portal-key
